pkgbase = grub-android-prober
	pkgdesc = GRUB Configuration for Android detection (Only works with NTFS, extFS and vFat/exFat)
	pkgver = 0.0.3
	pkgrel = 2
	url = https://github.com/shadichy/grub-android-x86.git
	arch = any
	license = GPLv3
	depends = grub
	depends = bash
	source = 30_android-prober
	sha512sums = 119cff8ff55341ebb5afb92d8694531d8f624e995acd7a9b806d63d786aa842e6753ff8b59c9314e258a598d5da91c085e5b0de940dc04eb49ba106f27a3598e

pkgname = grub-android-prober
