Source: grub-android-prober
Section: unknown
Priority: optional
Maintainer: Bùi Gia Viện <shadichy@blisslabs.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/shadichy/grub-android-x86.git
Vcs-Browser: https://github.com/shadichy/grub-android-x86.git
Vcs-Git: https://github.com/shadichy/grub-android-x86.git

Package: grub-android-prober
Architecture: all
Multi-Arch: foreign
Depends:
 grub-common | grub2-common,
 bash,
 ${shlibs:Depends},
 ${misc:Depends},
Description: GRUB Configuration for Android detection (Only works with NTFS, extFS and vFat/exFat)
